<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../static/web/css/style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    // Function to reload specific content via AJAX
    function reloadContent() {
        $.ajax({
            url: '/track1', // URL to fetch updated content
            type: 'GET',
            success: function(data) {
                // Create a new element with the updated content
                var $newContent = $('<div>').html(data);
                // Replace the existing content with the new content
                $('#contentToUpdate').replaceWith($newContent);
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    // Reload content every 10 seconds
    setInterval(reloadContent, 10000);
});
</script>
<style type="text/css">
.box {
    height: 402px;
    width: 985px;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg); /* Standard syntax */
?   
}
</style>
</head>

<body>
<div id="contentToUpdate">
<div style="width:952px; height:402px; background:url(../../static/img/road2.png); border:#003366 solid 5px">
						
						<br>
						<br><br>
						<br><br>
						<br><br>
						<br><br>
						{{data[0]}}
							<div class="box">
							
							<marquee behavior="scroll" direction="right" height="390" onMouseDown="this.stop();" onMouseUp="this.start();" scrolldelay="10" scrollamount="10">
						{% for rs in data %}
							{% if rs=="c1.png" %}
						<img src="../../static/vv/c1.png" width="56" height="38">&nbsp;&nbsp;
							{% elif rs=="c2.png" %}
						<img src="../../static/vv/c2.png" width="56" height="38">&nbsp;&nbsp;
							{% elif rs=="c3.png" %}
						<img src="../../static/vv/c3.png" width="56" height="38">&nbsp;&nbsp;
							{% elif rs=="c4.png" %}
						<img src="../../static/vv/c4.png" width="120" height="45">&nbsp;&nbsp;
							{% elif rs=="c5.png" %}
						<img src="../../static/vv/c5.png" width="149" height="65">&nbsp;&nbsp;
							{% elif rs=="c6.png" %}
						<img src="../../static/vv/c6.png" width="140" height="65">
							{% endif %}
						
						{% endfor %}
						</marquee>	
						
						
							</div>
							</div>
						
			</div>			
			
<script>
//Using setTimeout to execute a function after 5 seconds.
//setTimeout(function () {
   //Redirect with JavaScript
 //  window.location.href= '/track1';
//}, 10000);
</script>			
						
</body>
</html>
